table{
    border: 1px solid black;
    border-collapse: unset;
    text-align: center;
}

th{
    text-decoration: underline;
}

td{
    text-align: center;
}

#current-time{
    text-align: center;
    margin-bottom: 0;
}

.table thead th {
    border-bottom: none;
}

h1{
    text-align: center;
    margin-top: 25px;
    font-family: "Josefin Sans", sans-serif;
}

header{
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #79c879;
}