body {
    background: url(../images/citywide-philadelphia-skyline-16x9.jpg);
}

table {
    border-radius: 10px;
    border: slategray solid 1px;
    border-collapse: unset;
    text-align: center;
    background-color: lightgray;
}

form {
    border-radius: 10px;
    border: slategray solid 1px;
    padding: 10px;
    background-color: lightgray;
    opacity: 0.96;
}

th {
    text-decoration: underline;
}

td {
    text-align: center;
}

#current-time {
    text-align: center;
    margin-bottom: 0;
}

.table thead th {
    border-bottom: none;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-family: "Josefin Sans", sans-serif;
}

header {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #79c879;
    border-radius: 10px;
}

img {
    height: 20px;
    width: 20px;
}

#sub-button {
    background-color: springgreen;
    border-color: unset;
    color: black;
}